* {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 18px;
	line-height: 35px;
}

/* section com a id conteudo */
#conteudo {
	display: block;
	width: 640px;
	margin: auto; /* centralizar div */ 
	padding: 25px;
}
/* header com id topo */
header {
	width: 100%;
	height: 50px;
	background: #ee4503; /* verde 900 */
	display: block;
}
/* titulo dentro do header */
header h1 {
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	color: #fff;
}
/* span do link dentro do header */
span a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}

/* titulo de nivel 2 estao no curriculo.html */
h2 {
	line-height: 40px;
}
/* paragrafos e blocos de citacao */
p, blockquote {
	text-align: center;
	line-height: 26px;
}